[submodule "sources/numpy"]
	path = sources/numpy
	url = https://github.com/numpy/numpy.git
[submodule "sources/sklearn"]
	path = sources/sklearn
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "sources/scipy"]
	path = sources/scipy
	url = https://github.com/scipy/scipy.git
[submodule "sources/python-apple-support"]
	path = sources/python-apple-support
	url = https://github.com/beeware/Python-Apple-support.git
	branch = 3.11
